<!DOCTYPE html>
<html>
  <body>
    <h1>You're invited to join DirectShifts!</h1>
    <p>Hi,</p>
    <p>Your friend has invited you to join DirectShifts. Click the link below to sign up:</p>
    <a href="<%= @invitation_link %>">Join Now</a>
    <p>Thank you,<br>DirectShifts Team</p>
  </body>
</html>
